body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.back{
    position: fixed;
}
.container{
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    width: min(50%, 700px);
}
.container img {
    height: 100%;
    width: 100%;
}

ul li{
    padding-left: 1ch;
    padding-top: 5px;
} 
.chicken li::marker{
    content: url("./images/roast-chicken2.png")
}

.main{
    text-align: left;
}
.rice li::marker{
    content: url("./images/chopsticks.png");
    
}
.gains li::marker{
    content: url("./images/gains.png");
}